/* reset a zero */
*{
  border: 0;
  border-radius: 0;

  color:inherit;

  margin: 0;
  padding: 0;
  
  position:  relative;
  box-sizing: border-box;font-family: sans-serif;

  list-style: none;
  line-height: 1.5;

  scroll-behavior: smooth;
  text-decoration: none;
}

html {
  max-width: 100vw;
}

body {
  background-color: antiquewhite;
}

/* header */
header{
  display: flex;
    justify-content: space-between;

  color: white;
  background-color: #ff4242;
  /* height: 70px; */
}

header .logo{
  font-weight: 900;
  display: flex;
    align-self: end;
}

header .navbar{
  display: inherit;
    justify-content: inherit;
    align-items: center;

  margin-bottom: 16px;
  width: 100%;
}

a:hover {
  color: #d3d3d3;
}

nav {
  display: flex;

  text-decoration: none;
}

#mobile_nav-menu {
  display: none;
}

@media only screen and (max-width: 720px) {
  nav {
    display: none;
  }

  #mobile_nav-menu {
    background: hsla(0, 0%, 0%, 0.3);
    border-radius: 50%;

    display: flex;
      align-items: center;
      align-self: end;

    height: 35px;
    width: 35px;

    text-align: center;

    padding: 10px;

    position: absolute;
      right: 0;
    z-index: 9;
  }

  #mobile_nav:checked + nav {
    display: inline-flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

    background-color: hsla(0, 0%, 0%, 0.5);
    backdrop-filter: blur(2px);

    position: fixed;
    z-index: 9;

    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
  }

  #mobile_nav:checked + nav a {
    display: inline-block;
    min-width: 150px;
  }
  
  #mobile_nav:checked + nav a:hover:not(.active) {
    color: white;
    background-color: hsla(0, 0%, 0%, 0.5);
  }
}

nav a {
  font-weight: 700;
  height: 55px;
  padding: 15px;
}

nav a.active {
  color: black;
  background-color: white;
}

nav a:hover {
  color: #212529;
}

button {
  padding: 10px;
}
  button:hover {
    background-color: #d3d3d3;
    cursor: pointer;
  }

p {
  margin-bottom: 1em;
}


/* sections */
/* secton d'une Grande imgage */
.big-image {
  /* background-image: url(assets/img/image_entreprise/5.jpg); */
  background-size : cover ;
  background-position: center;

  height: 500px;
  min-width: 100vw;
}

.indexes {
  display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

  position: absolute;
  z-index: 1;
  bottom: 0;

  list-style-type: none;
  width: 100%;
}
  .index {
    display: inline-block;
    background-color: white;

    height: 10px;
    width: 25px;
  }
  
  .index.active {
    background-color: #ff4242;
  }
  
  .index:hover {
    background-color: #212529;
  }

#slide {
  display: inline-flex;

  height: 500px;
  overflow: hidden;
}

#slide_1 {
  background-image: url(assets/img/slider/1.jpg);
  /* position: absolute; */
}

#slide_2 {
  background-image: url(assets/img/slider/2.jpg);
  /* position: absolute; */
}

#service {
  /* section 1 */
  background-image: url(assets/img/slider/1.jpg);
  background-size: 125%;
  background-repeat: no-repeat;
  background-position-y: center;
}

#portfolio {
  /* section 2 */
  align-items: stretch;
}
  #portfolio #equipe img {
    height: auto;
    max-width: 100%;
  }

#contact {
  border-top: solid 5px #ff4242;
  margin-top: 10px;
}

#copyright {
  position: absolute;
  z-index: 1;
  
  top: 100%;
  bottom: 0;
  left: 0;

  height: 70px;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  flex-direction: column;
    align-items: center;
    justify-content: center;
  text-align: center;
}

/* utility*/
.flex{
  display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
}
  .flexspan-1 {
    flex: 1;
    min-width: 250px;
  }

  /* alignement des elements d'un conteneur 'flex' */
  .flex-items-start {
    align-items: start;
  }

  .flex-items-center {
    align-items: center;
  }

  .flex-items-end {
    align-items: end;
  }

  /* position des elements d'un conteneur 'flex' */
  .flex-justify-center {
    justify-content: center;
  }

  .flex-justify-between {
    justify-content: space-between;
  }

  .flex-justify-around {
      justify-content: space-around;
  }

  /* alignement des elements d'un conteneur 'flex' */
  .espacement-flex-1 {
    gap: 25px
  }

  .espacement-flex-2 {
    gap: 50px;
  }

/* texte */
/* Grand titre: BEST IN TECHNOLOGY */
.big-title h2 {
  font-size: 5rem;
  font-size: clamp(2.5rem, 5vw, 5vw);
}

.big-title h2 + p {
  font-size: 1rem;
  font-size: clamp(.75rem, 3vw, 1.5rem);
}

.title, .title-1 {
  font-size: x-large;
  margin-bottom: .5em;
}

.title-2 {
  font-size: xx-large;
  margin-bottom: .5em;
}

.title-3 {
  font-size: 2.5vw;
  margin-bottom: .5em;
}

.text-center {
  /* texte centre  */
  text-align: center;
}

.text-white {
  /* text de couleur blanc */
  color: white;
}

.text-grey {
  /* text de couleur gris */
  color: #808080;
}

.text-primary {
  /* text de couleur primaire */
  color: #ff4242;
}

.text-small {
  font-size: 14px;
}

/* arrierre-plan */
.overlay {
  /* assombrie d'arrierre-plan */
  background-color: rgb(7, 11, 64);

  height: 100%;
  width: 100%;

  opacity: 50%;
  
  position:absolute;
  top:0;
  left:0;
}

.bg-black {
  color: white;
  background-color: black;
}
  
.bg-white {
  color: black;
  background-color: white;
}

.bg-primary {
  color: white;
  background-color: #ff4242;
}

/* marges interne */
.padding-1 {
  padding: 25px;
}
  .padding-x-1 {
    padding: 0 25px;
  }

  .padding-y-1 {
    padding: 25px 0;
  }

.padding-2{
  padding: 75px;
}
  .padding-x-2 {
    padding: 0 75px;
  }

  .padding-y-2 {
    padding: 75px 0;
  }

.padding-3{
  padding: 125px;
}
  .padding-x-3 {
    padding: 0 125px;
  }

  .padding-y-2 {
    padding: 125px 0;
  }

/* section */
.section {
  min-height: 300px;
}

.inner-section {
  height: 100%;
  width: 100%;
}

.max-width {
  width: 100%;
}
/* icones */
.icon {
  border: solid 1px;
  border-radius: 0%;

  margin: 8px;
  padding: 8px;
}

.float-icon {
  border-radius: 50%;
  box-shadow: 0px 5px 0px  #333;

  font-size: x-large;
  padding: 30px;

  transform: translateY(-75%);
}
